/*01 **general***/

body {
  background-color: #160f05;
  color: #e6bc7b;
  font-family: "Cardo", serif;
  font-weight: 200;
  font-size: 17px;
  letter-spacing: 0.1px;
}

a {
  text-decoration: none !important;
}

/*ENTRY PAGE CONTENT*/

#entry-cover-sepia {
  width: 100%;
  height: 100vh;
  display: block;
  background-image: url(../imgs/entry_page/naslovna_slika.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 90%;
  text-align: center;
  filter: sepia(78%) saturate(150%);
  -webkit-filter: sepia(78%) saturate(150%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.entry-page-logo {
  width: 330px;
  height: 230px;
  display: inline-block;
  background-image: url(../imgs/entry_page/entry-page-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .entry-page-logo {
    margin-top: 190px;
  }
}

@media (min-width: 1900px) {
  .entry-page-logo {
    margin-top: 260px;
  }
}

@media (min-width: 2200px) {
  .entry-page-logo {
    margin-top: 400px;
  }
}

.entry-header {
  font-size: 72px;
  color: #fff;
  font-family: "ltc-bodoni-175";
  font-size: 72px;
  line-height: 1em;
  text-transform: none;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-style: normal;
  /*margin-top: 15px;*/
  text-shadow: -3px 2px black;
}

.txt_holder {
  margin-top: 340px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.entry-sub-header {
  font-family: "futura-pt";
  font-size: 27px;
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #fff;
  font-style: italic;
  /*margin-top:20px;*/
  text-shadow: -3px 2px black;
  display: inline;
}

.kuglica {
  font-family: "bergamot";
  font-size: 0.8em;
  color: whitesmoke;
}

/*ENTRY PAGE CONTENT ENDS*/

/*MEDIA QUERY*/

@media screen and (max-width: 767px) {
  .entry-page-logo {
    width: 70%;
    min-width: 310px;
  }
}

@media screen and (max-width: 1200px) {
  .entry-sub-header {
    font-size: 20px;
  }
}

@media screen and (max-width: 530px) {
  .entry-sub-header {
    font-size: 20px;
    display: block;
  }

  .txt_holder {
    margin-top: 150px;
  }

  .entry-unordered-list {
    font-size: 16px;
  }

  .kuglica {
    display: none;
  }
}

@media screen and (max-width: 667px) {
  .entry-header {
    margin-top: -15px;
  }
}

@media screen and (max-width: 500px) {
  .entry-header {
    margin-top: -90px;
    font-size: 42px;
  }
}
